.button {
  border: none;
  background-color: transparent;

  &--light {
    padding: 22px;
    color: $white;
    border: 2px solid $white;
  }

  &--dark {
    padding: 22px;
    color: $primary-dark;
    border: 2px solid $primary-dark;
  }
}
