.button {
  border: none;
  background-color: transparent;
  padding: 22px;

  &--light {
    color: $white;
    border: 2px solid $white;
  }

  &--dark {
    color: $dark-button;
    border: 2px solid $dark-button;
  }
}
