.contacts {
  padding: 40px 15px;
  font-style: normal;
  font-size: 14px;
  line-height: 143%;
  color: $primary-dark;

  @media (min-width: $tablet-width) {
    padding: 60px 164px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0 71px;
  }
}

.contacts__container {
  @media (min-width: $desktop-width) {
    margin: 0;
    max-width: 477px;
  }
}

.contacts__title {
  margin: 0 0 42px;

  @media (min-width: $tablet-width) {
    margin: 0 0 36px;
    font-size: 54px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.contacts__list {
  max-width: 170px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media (min-width: $tablet-width) {
    position: relative;
    max-width: none;
    display: grid;
    grid-template-columns: 190px 190px;
    gap: 15px 60px;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      left: 50%;
      background-color: $divider;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 178px 178px;
    gap: 15px 120px;
  }
}

.contacts__address {
  font-style: normal;
  font-size: 14px;
  line-height: 143%;
  color: $primary-dark;

  @media (min-width: $tablet-width) {
    line-height: 157%;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 20px;
  line-height: 100%;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    &:nth-child(2),
    &:nth-child(4) {
      order: 3;
    }
  }
}

.contacts__schedule {
  margin: 0;
  font-size: 14px;
  line-height: 143%;
  color: $primary-dark;
}

.contacts__phone {
  text-decoration: none;
  font-size: 14px;
  line-height: 143%;
  color: $primary-dark;
}

.contacts__email {
  text-decoration: none;
  color: $primary-dark;
  font-size: 14px;
  line-height: 143%;
}
