.faq-list {
  margin: 0 0 35px;
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 10px;

  @media (min-width: $tablet-width) {
    margin: 0 0 45px;
    grid-template-columns: repeat(4, 162px);
  }

  @media (min-width: $desktop-width) {
    margin: 1px 0 0;
    display: flex;
    flex-direction: column;
  }
}

.faq-list__button {
  padding: 15px 22px;
  width: 100%;
  box-shadow: inset 0 0 0 1px $tab-border;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: $primary-dark;

  &--active {
    border: none;
    color: $white;
    background: linear-gradient(100deg, $accent-bg 0%, $secondary-bg 100%);
  }

  @media (min-width: $tablet-width) {
    padding: 18px;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 21px 18px 15px;
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: inset 0 0 0 1px $primary-dark;
    }
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px $primary-dark;
    background-color: $white;
  }

  &:active {
    color: $white;
    background: linear-gradient(100deg, $accent-bg 0%, $secondary-bg 100%);
    box-shadow: none;
  }
}
