.faq {
  padding: 70px 15px;
  background-color: $primary-bg;

  @media (min-width: $tablet-width) {
    padding: 61px 45px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 99px 103px 100px;
  }
}

.faq__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 260px 860px;
    gap: 50px 40px;
  }
}

.faq__title {
  margin: 0 0 35px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 44px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column: 1 / -1;
    text-align: start;
    transform: translateY(1px);
  }
}
