.features {
  padding: 40px 15px;

  @media (min-width: $tablet-width) {
    padding: 60px 45px;
  }
}

.features__title {
  margin: 0 0 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 50px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 40px 30px;
  }
}

.features__definition {
  margin: 0;
  max-width: 98px;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  background: linear-gradient(129deg, #d10a42 0%, #0041ca 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: $tablet-width) {
    max-width: 107px;
    grid-row: 1 / -3;
    font-size: 70px;
    text-align: start;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;


  @media (min-width: $tablet-width) {
    display: grid;
    gap: 15px;
  }

  &--accent {
    padding: 30px 60px 40px;
    background-color: $btn-border;
    gap: 20px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      grid-column: 1 / -1;
      max-width: 320px;
      justify-self: center;
      gap: 25px;
    }

    .features__definition {
      background: none;
      color: $white;
      background-clip: unset;
      -webkit-text-fill-color: unset;
    }

    .features__term {
      margin-top: 5px;
      font-weight: 700;
      font-size: 22px;
      line-height: 100%;
      color: $white;

      @media (min-width: $tablet-width) {
        margin-top: 25px;
      }
    }

    .features__text {
      color: $white;

      @media (min-width: $tablet-width) {
        text-align: center;
      }
    }
  }
}

.features__name {
  margin: 0;
  font-family: $font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: $primary-dark;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 100%;
  }
}

.features__term {
  display: block;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: $desc;

  @media (min-width: $tablet-width) {
    line-height: 157%;
  }
}

.features__text {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  color: $primary-dark;

  @media (min-width: $tablet-width) {
    grid-column: 2;
    text-align: start;
    font-size: 16px;
    line-height: 150%;
  }
}
