.feedback {
  padding: 0;

  @media (min-width: $desktop-width) {
    background: linear-gradient(90deg, $primary-dark 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 1px;
      top: 0;
      right: 0;
      background-color: $divider;
    }
  }
}

.feedback__container {
  max-width: none;

  @media (min-width: $desktop-width) {
    max-width: 1160px;
    display: grid;
    grid-template-columns: 477px 477px;
    gap: 206px;
  }
}
