.field {
  padding: 7px 4px 6px;
  background-color: transparent;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: $white;

  &::placeholder {
    font-family: $font-family;
    font-weight: 300;
    font-size: 14px;
    line-height: 157%;
    color: $white;
    opacity: 0.4;

    @media (min-width: $tablet-width) {
      font-weight: 400;
    }
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;

    &::placeholder {
      opacity: 0.4;
    }
  }
}
