.field {
  padding: 4px 4px 4px 0;
  background-color: transparent;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: $white;

  &::placeholder {
    font-family: $font-family;
    font-weight: 300;
    font-size: 14px;
    line-height: 157%;
    color: $white;
    opacity: 0.4;
  }
}
