.games {
  padding: 25px 15px;

  @media (min-width: $tablet-width) {
    padding: 60px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
  }
}

.games__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 300px 378px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 500px 660px;
  }
}

.games__information {
  padding: 40px;
  display: grid;
  grid-template-columns: 117px 56px;
  gap: 1px 37px;
  background-color: $accent-bg;

  @media (min-width: $tablet-width) {
    padding: 41px 40px 40px;
    grid-template-columns: 100px 100px;
    gap: 10px 20px;
    grid-auto-rows: min-content;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 80px 98px;
    grid-template-columns: 168px 95px;
    gap: 21px 77px;
  }
}

.games__title {
  margin: 0;
  grid-row: 1 / -3;
  font-family: $second-family;
  font-weight: 600;
  font-size: 48px;
  line-height: 112%;
  text-transform: uppercase;
  color: $white;

  @media (min-width: $desktop-width) {
    font-size: 82px;
    line-height: 117%;
  }
}

.games__text {
  margin: 16px 0 15px;
  grid-column: 1 / -1;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: $white;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 18px;
    line-height: 133%;
    transform: translateY(1px);
  }

  @media (min-width: $desktop-width) {
    transform: translateY(-9px);
  }
}

.games__link {
  grid-column: 1 / -1;
  display: block;
  font-family: $font-family;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $white;

  @media (min-width: $tablet-width) {
    padding: 27px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.games__image-wrapper {
  background-color: $primary-dark;
}

.games__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
