.gym-membership {
  padding: 50px 42px;
  background-color: $white;
  position: relative;

  &::before {
    content: none;
    position: absolute;
    top: 8px;
    left: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    background-color: #ffffff;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    padding: 65px;
  }

  @media (hover: hover) {
    &:hover {
      background: linear-gradient(151deg, $accent-bg 0%, #003eb7 100%);
      z-index: 1;

      &::before {
        content: "";
      }

      .gym-membership__link {
        color: $white;
        box-shadow: none;
        background: linear-gradient(151deg, $accent-bg 0%, #003eb7 100%);
      }
    }
  }
}

.gym-membership__name {
  margin: 0 0 18px;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: $primary-dark;

  @media (min-width: $tablet-width) {
    margin: 0 0 22px;
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 17px;
    font-size: 26px;
  }
}

.gym-membership__time {
  margin: 0 0 18px;
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  color: $primary-dark;

  @media (min-width: $tablet-width) {
    margin: 0 0 22px;
    font-size: 16px;
    line-height: 150%;
  }
}

.gym-membership__price {
  margin: 0 0 18px;
  padding: 48px 71px 0 37px;
  position: relative;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: $price;
  z-index: 1;

  &::before {
    content: var(--price-shadow);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-weight: 700;
    font-size: 80px;
    line-height: 150%;
    text-align: center;
    color: $price-shadow;
    opacity: 0.48;
    z-index: -1;

    @media (min-width: $tablet-width) {
      font-size: 100px;
    }

    @media (min-width: $desktop-width) {
      top: -5px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 22px;
    padding: 60px 86px 0 42px;
    font-size: 60px;
    line-height: 150%;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 17px;
    padding: 56px 86px 0 32px;
  }
}

.gym-membership__link {
  padding: 27px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: $primary-dark;
}

.gym-membership__price-text {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 42px;
    right: -37px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("/__spritemap#sprite-ruble-view");
    background-repeat: no-repeat;
    background-size: 24px 33px;
    background-position: center;

    @media (min-width: $tablet-width) {
      right: -44px;
      background-size: 30px 42px;
    }
  }
}
