.header {
  margin: 0 0 48px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 24px 0;
  }
}

.header__link {
  padding: 6px;
  max-width: 188px;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
  }

  @media (hover: hover) {
    &:hover {
      color: rgba(28, 51, 116, 0.5);
    }
  }

  &:focus {
    outline: none;
    color: $secondary;
  }

  &:active {
    position: relative;
    color: $primary-dark;

    &::after {
      content: "";
      position: absolute;
      width: calc(100% - 12px);
      height: 1px;
      background-color: $primary-dark;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.header__link--disabled {
  color: $primary-bg;
  opacity: 0.5;
  pointer-events: none;
}
