.hero {
  padding: 0 15px 32px;
  background: linear-gradient(90deg, $btn-border 0%, $btn-border 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);

  @media (min-width: $tablet-width) {
    padding: 0 45px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 45px 120px;
  }
}

.hero__content {
  display: grid;
  grid-template-columns: 113px 156px;
  gap: 15px 22px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 113px 185px 1fr;
    gap: 11px 27px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 118px 270px 1fr;
    gap: 40px 0;
    padding: 0 72px 0 145px;
  }
}

.hero__text {
  margin: 0;
  max-width: 113px;
  grid-row: 2;
  align-self: flex-end;
  font-family: $font-family;
  font-size: 14px;
  line-height: 143%;
  text-align: right;
  color: $white;

  @media (min-width: $tablet-width) {
    padding: 0 0 25px;
    grid-row: -4;
    grid-column: 1;
    line-height: 157%;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 71px;
    padding: 0;
    max-width: 118px;
  }
}

.hero__city {
  margin: 0 2px 0 0;
  grid-column: 2;
  font-family: $second-family;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: $white;
  text-align: right;

  @media (min-width: $tablet-width) {
    margin: 31px 0 0 0;
    font-size: 42px;
  }

  @media (min-width: $desktop-width) {
    margin: 52px 2px 0 0;
    font-size: 54px;
  }
}

.hero__title {
  margin: 0;
  grid-column: 2;
  font-family: $second-family;
  font-weight: 800;
  font-size: 62px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: right;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 72px;
    line-height: 118%;
    letter-spacing: 0.03em;
  }

  @media (min-width: $desktop-width) {
    margin-right: 2px;
    font-size: 92px;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
}

.hero__image-wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    justify-self: end;
    grid-column: 3;
    grid-row: 1 / -5;
  }
}

.hero__link {
  margin: 32px 0 0;
  text-decoration: none;
  grid-column: 1 / -1;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 22px;
    margin: 38px 0 0;
    grid-column: 2;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 27px;
  }
}
