.juri {
  padding: 40px 30px;

  @media (min-width: $tablet-width) {
    padding: 30px 45px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
  }
}

.juri__container {
  @media (min-width: $tablet-width) {
    max-width: 560px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1160px;
  }
}

.juri__title {
  margin: 0 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 46px;
    font-size: 54px;
  }
}
