.juri {
  padding: 40px 15px;

  @media (min-width: $tablet-width) {
    padding: 30px 45px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
  }
}

.juri__title {
  margin: 0 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 46px;
  }
}

.juri__list  {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.juri__image-wrapper {
  position: relative;
}

.juri__image {
  margin: 0 auto;
}

.juri__name {
  margin: 0;
  position: absolute;
  width: 100%;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  color: $white;
}

.juri__info {
  display: none;
}

.juri__card {
  &:not(:first-child) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &:not(:first-child) {
      display: block;
    }

    &:nth-child(n+3) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(n+3) {
      display: block;
    }
  }
}
