.juri {
  padding: 40px 15px;

  @media (min-width: $tablet-width) {
    padding: 30px 45px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
  }
}

.juri__title {
  margin: 0 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 46px;
  }
}

.juri__list  {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.juri__image-wrapper {
  position: relative;
}

.juri__image {
  margin: 0 auto;
}

.juri__name {
  margin: 0;
  position: absolute;
  width: 100%;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  color: $white;
}

.juri__card {
  position: relative;

  &:not(:first-child) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &:not(:first-child) {
      display: block;
    }

    &:nth-child(n+3) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(n+3) {
      display: block;
    }
  }

  @media (hover: hover) {
    &:hover {
      .juri__info {
        display: block;
      }

      .juri__name {
        position: absolute;
        top: 46px;
        z-index: 1;

      }
    }
  }
}

.juri__info {
  display: none;
  padding: 77px 42px 51px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(16, 38, 84, 0.89);
  box-shadow: 0 0 35px 0 rgba(42, 59, 99, 0.17);
}

.juri__badge {
  margin: 0 0 34px;
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #b6bdcc;
}

.juri__info-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.juri__info-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: $white;
}
