.juri-card {
  position: relative;
  max-width: 260px;
  margin: 0 auto;

  @media (hover: hover) {
    &:hover {
      .juri__info {
        opacity: 1;
      }

      .juri__name {
        position: absolute;
        top: 46px;
        z-index: 1;
        transition: top 0.3s ease-in-out; // Add this line
      }
    }
  }
}
