.logo {
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    padding-bottom: 4px;
  }
}

.logo__image {
  @media (min-width: $tablet-width) {
    width: 110px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
    height: 26px;
  }
}
