.offers {
  padding: 40px 0 0;

  @media (min-width: $tablet-width) {
    padding: 60px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
  }
}

.offers__container {
  max-width: none;

  @media (min-width: $tablet-width) {
    max-width: 678px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1160px;
    display: grid;
    grid-template-columns: 560px 560px;
    gap: 0 40px;
  }
}

.offers__title {
  margin: 0 0 40px;
  padding: 0 15px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 35px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 70px;
    grid-column: 1 / -1;
  }
}

.offers__image {
  width: 100%;
  object-fit: cover;

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.offers__list {
  padding: 40px 0;
  margin: 0 auto;
  max-width: 290px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    padding: 35px 0 0;
    max-width: 678px;
    display: grid;
    grid-template-columns: 324px 324px;
  }

  @media (min-width: $desktop-width) {
    margin: auto 0 0;
    padding: 0;
    max-width: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
