.offer-card {
  padding: 34px;
  position: relative;
  background: linear-gradient(145deg, #d10a42 0%, #00359f 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1;

  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    color: $btn-border;

    @media (min-width: $tablet-width) {
      margin: 0 0 10px;
      text-align: start;
      font-size: 26px;
    }
  }

  p {
    margin: 0;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 157%;
    color: $btn-border;

    @media (min-width: $tablet-width) {
      margin: 0 0 30px;
      text-align: start;
      font-size: 16px;
      line-height: 150%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    background-color: #ffffff;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    align-items: normal;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 32px;
  }
}

.offer-card__link {
  padding: 5px;
  max-width: 83px;
  position: relative;
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: $btn-border;
  /* border-bottom: 1px solid $divider; */

  &::after {
    content: "";
    position: absolute;
    width: 73px;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $divider;
  }

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }

  &:focus {
    &::after {
      content: none;
    }

    outline: 1px solid $btn-border;
  }

  &:active {
    &::after {
      content: "";
    }

    opacity: 1;
    outline: none;
  }
}

.offer-card__link--disabled {
  opacity: 0.3;
  pointer-events: none;
}
