.offer-card {
  padding: 34px;
  position: relative;
  background: linear-gradient(145deg, #d10a42 0%, #00359f 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    background-color: #ffffff;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    align-items: normal;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 32px;
  }

}

.offer-card__name {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: $btn-border;

  @media (min-width: $tablet-width) {
    margin: 0 0 10px;
    text-align: start;
    font-size: 26px;
  }
}

.offer-card__text {
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  color: $btn-border;

  @media (min-width: $tablet-width) {
    margin: 0 0 30px;
    text-align: start;
    font-size: 16px;
    line-height: 150%;
  }
}

.offer-card__link {
  padding-bottom: 5px;
  max-width: 73px;
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: $btn-border;
  border-bottom: 1px solid $divider;

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}
