.price-list {
  margin: 0 0 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 34px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 45px;
    max-width: 310px;
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 40px;
    max-width: 350px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: #dedfe2;
  }
}

.price-list__button {
  padding: 6px 0;
  height: 100%;
  position: relative;
  font-family: $font-family;
  font-size: 16px;
  line-height: 100%;
  color: $light;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: #dedfe2;
  }

  &--active {
    color: $primary-dark;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      background-color: #d10a42;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }

  @media (hover: hover) {
    &:hover {
      color: rgba(16, 38, 84, 0.7);

      &::before {
        background-color: #787878;
      }
    }
  }

  &:focus {
    outline: none;
    color: $primary-dark;

    &::before {
      background-color: $primary-dark;
    }
  }

  &:active {
    color: $primary-dark;

    &::before {
      background-color: #d10a42;
    }
  }

  &:disabled {
    color: $primary-dark;
    opacity: 0.3;
    pointer-events: none;

    &::before {
      background-color: $primary-dark;
    }
  }
}
