.price {
  padding: 40px 15px;
  background-color: $primary-bg;

  @media (min-width: $tablet-width) {
    padding: 60px 194px;
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      width: 325px;
      height: 388px;
      right: 0;
      bottom: 0;
      background-image: url("../../img/price/price-decoration-tablet.png");
      background-repeat: no-repeat;
      background-size: 325px 388px;
      z-index: -1;

      @media (resolution >= 2dppx) {
        background-image: url("../../img/price/price-decoration-tablet@2x.png");
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;

    &::after {
      width: 303px;
      height: 448px;
      bottom: -1px;
      background-image: url("../../img/price/price-decoration-desktop.png");
      background-repeat: no-repeat;
      background-size: 303px 448px;

      @media (resolution >= 2dppx) {
        background-image: url("../../img/price/price-decoration-desktop@2x.png");
      }
    }
  }
}

.price__container {
  @media (min-width: $tablet-width) {
    max-width: 380px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1160px;
  }
}

.price__title {
  margin: 0 0 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 29px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 14px;
  }
}
