.price {
  padding: 40px 15px;
  background-color: $primary-bg;

  @media (min-width: $tablet-width) {
    padding: 60px 194px;
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      width: 325px;
      height: 388px;
      right: 0;
      bottom: 0;
      background-image: url("../../img/price/price-decoration-tablet.png");
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
  }
}

.price__container {
  @media (min-width: $tablet-width) {
    max-width: 380px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1160px;
  }
}

.price__title {
  margin: 0 0 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 35px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 20px;
  }
}
