.reviews {
  padding: 41px 40px 40px;

  @media (min-width: $tablet-width) {
    padding: 60px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
  }
}

.reviews__container {
  @media (min-width: $tablet-width) {
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    max-width: 560px;
  }
}

.reviews__title {
  margin: 0 0 39px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 35px;
    font-size: 54px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 75px;
  }
}
