.review-card {
  padding: 30px 25px 29px;
  min-height: 328px;
  box-shadow: 0 0 40px 0 rgba(28, 51, 116, 0.2);
  background-color: $btn-border;

  h3 {
    margin: 0 0 17px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: $white;

    @media (min-width: $tablet-width) {
      margin: 0;
      text-align: start;
      font-size: 22px;
      line-height: 22px;
    }
  }

  p {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $white;

    @media (min-width: $tablet-width) {
      grid-column: 2;
      text-align: start;
      font-size: 16px;
      line-height: 24px;
    }
  }

  div {
    @media (min-width: $tablet-width) {
      grid-row: 1 / -3;
    }
  }

  img {
    margin: 0 auto 10px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 40px 30px;
    width: 500px;
    min-height: 242px;
    display: grid;
    grid-template-columns: 80px 320px;
    gap: 20px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px;
    width: 560px;
    min-height: 258px;
    grid-template-columns: 80px 330px;
    gap: 20px 30px;
  }
}
