.social {
  display: grid;
  grid-template-columns: repeat(3, 25px);
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 15px;
  }
}

.social__link {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $white;

  @media (hover: hover) {
    &:hover {
      background-color: $divider;

      &::before {
        background-color: $white;
      }
    }
  }

  &:focus {
    outline: none;
    background-color: $price;

    &::before {
      background-color: $white;
    }
  }

  &:active {
    background-color: $primary-dark;
  }

  &--vk {
    &::before {
      content: "";
      position: absolute;
      width: 12px;
      height: 7px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      mask-image: url("/__spritemap#sprite-vk-view");
      mask-size: 12px 7px;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: $dark;
    }
  }

  &--ok {
    &::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 16px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      mask-image: url("/__spritemap#sprite-ok-view");
      mask-size: 9px 16px;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: $dark;
    }
  }

  &--reddit {
    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      mask-image: url("/__spritemap#sprite-reddit-view");
      mask-size: 14px 14px;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: $dark;
    }
  }
}

.social__link--disabled {
  background-color: #d8dadf;
  pointer-events: none;
}
