.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 32px;

  @media (min-width: $tablet-width) {
    display: block;
  }

  &::after {
    display: none;
  }
}

/* .swiper-button-prev {
  background-image: url("");
}

.swiper-button-next {
  background-image: url("");
} */
