.swiper-container {
  position: relative;
}

.swiper-container .swiper,
.swiper-container .swiper1 {
  position: static;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper1 {
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 32px;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  &::after {
    content: "";
    display: block;
    width: 18px;
    height: 32px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-size: 18px 31px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $primary-dark;
  }

  @media (hover: hover) {
    &:hover {
      border: 1px solid $primary-dark;
    }
  }

  &:focus {
    outline: none;
    border: 1px solid $primary-dark;
    background-color: $price-shadow;
  }

  &:active {
    background-color: $primary-dark;

    &::after {
      background-color: $white;
    }
  }

  &:disabled {
    &::after {
      background-color: $primary-dark;
      pointer-events: none;
      opacity: 0.3;
    }

    &:hover {
      border: none;
      cursor: auto;
    }
  }
}

.swiper .swiper-button-prev {
  top: 49%;
  left: -106px;

  @media (min-width: $desktop-width) {
    top: 49.2%;
    left: -121px;
  }
}

.swiper .swiper-button-next {
  top: 49%;
  right: -106px;

  @media (min-width: $desktop-width) {
    top: 49.2%;
    right: -121px;
  }
}

.swiper1 .swiper-button-prev {
  top: 49.2%;
  left: -70px;

  @media (min-width: $desktop-width) {
    top: 48%;
  }
}

.swiper1 .swiper-button-next {
  top: 49.2%;
  right: -70px;

  @media (min-width: $desktop-width) {
    top: 48%;
  }
}

.swiper-button-next {
  &::after {
    transform: rotate(180deg);
  }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  cursor: auto;
  pointer-events: none;
}
