@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/robotocondensed-light.woff2") format("woff2"), url("../../fonts/robotocondensed-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/robotocondensed-regular.woff2") format("woff2"), url("../../fonts/robotocondensed-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../../fonts/robotocondensed-bold.woff2") format("woff2"), url("../../fonts/robotocondensed-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alumni Sans";
  src: url("../../fonts/alumni-sans-semi-bold.woff2") format("woff2"), url("../../fonts/alumni-sans-semi-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alumni Sans";
  src: url("../../fonts/alumni-sans-extra-bold.woff2") format("woff2"), url("../../fonts/alumni-sans-extra-bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
