/* Вьюпорты */
$tablet-width: 768px;
$desktop-width: 1366px;

/* Шрифты */
$font-family: "Roboto Condensed", "Tahoma", sans-serif;
$second-family: "Alumni Sans", "Arial", sans-serif;

/* Цвета */
$divider: #74819c;
$play-btn: #ed0233;
$light: rgba(16, 38, 84, 0.5);
$accent-bg: #ed0233;
$btn-border: #1c3374;
$tab-border: rgba(16, 38, 84, 0.2);
$primary-bg: #f8f9fc;
$price: #103aae;
$price-shadow: #e8e8e8;
$desc: #2e35ac;
$secondary: #1c3374;
$dark: #030a1a;
$white: #ffffff;
$primary-dark: #102654;
